<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav th:replace="fragments/mainNav :: mainNav"></nav>

<div th:replace="fragments/menu :: menu"></div>

<header th:replace="fragments/slider :: slider"></header>

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Szczegóły produktu</h5>
        </div>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td th:text="Nazwa"/>
            <td th:text="${product.name}"/>
        </tr>
        <tr>
            <td th:text="Opis"/>
            <td th:text="${product.description}"/>
        </tr>
        <tr>
            <td th:text="Cena"/>
            <td th:text="${product.price}"/>
        </tr>
    </table>
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>
</div>
</table>
<div>
    <a th:href="@{/page-main}">
        <button type="button" class="btn btn-outline-secondary">Przejdź do strony głównej</button>
    </a>
</div>
<footer th:replace="fragments/footerMenu :: footerMenu"></footer>
</body>
</html>